:root {
  --main-bg-color: #33cccc;
}

html, body {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 { font-weight: 400 }

a { color: var(--main-bg-color) }

main {
    display: flex;
    flex: 1 1;
    flex-direction: column;
}

.navbar-brand img {
    height: 20px;
    width: auto;
    margin-right: 10px;
}

.nav-link { color: var(--main-bg-color) }

div#sidebar {
    background: var(--main-bg-color);
    color: white;
    min-height: calc(100vh - 52px);
}

div#sidebar>.sidebar-link {
    background: #3b9b9b;
    border-left: 10px solid #306a6a;
    margin: 20px -12px;
    padding: 15px 20px;
    position: relative;
}

div#sidebar>.sidebar-link:after {
    background: #3b9b9b;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    content: "";
    display: block;
    height: 54px;
    position: absolute;
    right: -5px;
    top: 0;
    width: 10px;
}

div#sidebar>.sidebar-link a {
    color: #fff;
    text-decoration: none;
}

div#content { padding: 0 3% }

.btn-primary {
    color: #fff;
    background-color: var(--main-bg-color);
    border-color: var(--main-bg-color);
}

.btn-check:focus+.btn-primary,
.btn-primary:focus,
.btn-primary:hover {
    color: #fff;
    background-color: var(--main-bg-color);
    border-color: var(--main-bg-color);
    box-shadow: 0 2px 0 0 rgb(81 179 179);
}

.card {
    border: none;
    box-shadow: 0 0 3px 1px rgb(0 0 0 / 12%);
}

.card>.card-header {
    background: none;
    border: none;
    font-family: monospace;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.modal-header>h5[id$="fullscreen-title"] {
    font-family: monospace;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.card .card-notes,
.modal-footer .notes {
    font-family: monospace;
    font-size: 14px;
}

.card .card-notes>span,
.modal-footer.card-notes>span { margin-right: 20px }

.fullscreen-plot { cursor: pointer }
.fullscreen-plot:hover { color: var(--main-bg-color) }

.modal-footer>.bi-fullscreen-exit { cursor: pointer }
.modal-footer>.bi-fullscreen-exit:hover { color: var(--main-bg-color) }