:root {
  --main-bg-color: blue;
}

html, body {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

main {
    display: flex;
    flex: 1 1;
    flex-direction: column;
}

.navbar-brand img {
    height: 20px;
    width: auto;
    margin-right: 10px;
}

div#sidebar {
    background: #33cccc;
    color: white;
    height: calc(100vh - 52px);
    margin-top: -20px;
    padding: 20px;
}